.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 20px;
  align-items: center;
}

.container .session {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .container .session {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .container .session {
    margin-top: 50px;
    grid-template-columns: 1fr;
    gap: 2.25rem;
  }
}

@media (max-width: 1024px) {
  .container .session {
    gap: 3rem;
  }
}
